<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ThankIt.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1463FBD292556831461B14D1FE8F9A31407D71E2</string>
				<key>dateExpires</key>
				<string>1/10/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1463FBD292556831461B14D1FE8F9A31407D71E2</string>
						<key>dateExpires</key>
						<string>1/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34X3BT977M</string>
						<key>name</key>
						<string>MINSEOk KIM</string>
					</dict>
					<key>versionNumber</key>
					<string>11.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1463FBD292556831461B14D1FE8F9A31407D71E2</string>
						<key>dateExpires</key>
						<string>1/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34X3BT977M</string>
						<key>name</key>
						<string>MINSEOk KIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1463FBD292556831461B14D1FE8F9A31407D71E2</string>
						<key>dateExpires</key>
						<string>1/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34X3BT977M</string>
						<key>name</key>
						<string>MINSEOk KIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1463FBD292556831461B14D1FE8F9A31407D71E2</string>
						<key>dateExpires</key>
						<string>1/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34X3BT977M</string>
						<key>name</key>
						<string>MINSEOk KIM</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1463FBD292556831461B14D1FE8F9A31407D71E2</string>
						<key>dateExpires</key>
						<string>1/10/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>34X3BT977M</string>
						<key>name</key>
						<string>MINSEOk KIM</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>34X3BT977M.minseok.ThankIt</string>
				<key>com.apple.developer.team-identifier</key>
				<string>34X3BT977M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ThankIt.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>43b93826-7c3e-4394-b211-334c2b1d00f3</string>
				<key>dateExpires</key>
				<string>1/10/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: minseok.ThankIt</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>34X3BT977M</string>
				<key>name</key>
				<string>MINSEOk KIM</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
